// devices viewport width starts at:
$breakpoints: (
	xs-phone: 320px,
	phone: 480px,
	tablet: 768px,
	desktop: 1025px,
	widescreen: 1200px
	);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
	);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/normalize';
@import 'base/forms';
@import 'base/typography';
@import 'base/fonts';


@import 'layout/header';

@import 'components/buttons';
@import 'components/slick';

// @import 'components/custom-radio-checkbox';
// @import 'components/custom-select';

@import 'layout/common';
@import 'layout/footer';