//= includes/head.html
	<section class="product_holder">
		<div class="product_block">
			<div class="cta_holder">
				<div class="logo_product">
					<a href="#">
						<img src="images/logo.png" alt="Nike">
					</a>
				</div>
				<a class="btn_shop" href="#">SHOP BY BRANDS</a>
			</div>
			<img src="images/img-01.png" alt="sneaker | logo Nike">
			<div class="description">
				Nike, originally known as Blue Ribbon Sports was founded by University of Oregon track athlete Phil Knight.
			</div>
		</div>
	</section>
//= includes/footer.html