//= includes/head.html
<section class="stat_holder">
	<div class="stat_container">
		<div class="card_holder">
			<h2>My Credit Card</h2>
			<img src="images/img-02.png" alt="VISA | card">
			<dl class="info_list">
				<dt>Card number :</dt>
				<dd>2450 24512 25412</dd>
				<dt>Account Name:</dt>
				<dd>John Doe</dd>
				<dt>Card status:</dt>
				<dd>Active</dd>
			</dl>
		</div>
		<div class="graph_block">
			<div class="title_graph_block">
				<div class="title_holder">
					<h2>Statistics</h2>
					<ul class="date_holder">
						<li>
							<h2>2018</h2>
							<ul>
								<li>2018</li>
								<li>2019</li>
								<li>2020</li>
							</ul>
						</li>
						<li>
							<h2>Month</h2>
							<ul>
								<li>Jan</li>
								<li>Fed</li>
								<li>Mar</li>
								<li>Apr</li>
								<li>May</li>
								<li>Jun</li>
								<li>Jul</li>
								<li>Aug</li>
								<li>Sep</li>
								<li>Oct</li>
								<li>Nov</li>
								<li>Dec</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<canvas id="myChart" width="100%"></canvas>
		</div>
	</div>
</section>
<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: ['Jan', 'Fed', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			datasets: [{
				label: '',
				data: [200, 180, 200, 230, 250, 230, 200, 180, 170, 180, 200, 230],
				backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(255, 206, 86, 0.2)',
				'rgba(75, 192, 192, 0.2)',
				'rgba(153, 102, 255, 0.2)',
				'rgba(255, 159, 64, 0.2)',
				'rgba(255, 99, 132, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(255, 206, 86, 0.2)',
				'rgba(75, 192, 192, 0.2)',
				'rgba(153, 102, 255, 0.2)',
				'rgba(255, 159, 64, 0.2)'
				],
				borderColor: [
				'rgba(255, 99, 132, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
				'rgba(75, 192, 192, 1)',
				'rgba(153, 102, 255, 1)',
				'rgba(255, 159, 64, 1)',
				'rgba(255, 99, 132, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
				'rgba(75, 192, 192, 1)',
				'rgba(153, 102, 255, 1)',
				'rgba(255, 159, 64, 1)'
				],
				borderWidth: 4
			}]
		},
		options: {
			legend: {
				display: false
			},
			tooltips:{
				// custom: {
				// 	backgroundColor: 'rgba(256,256,256,1)',
				// 	fontFamily: 'Poppins',
				// 	titleFontStyle: 'bold',
				// 	titleFontColor: '#fff',
				// 	caretPadding: 2,
				// 	caretSize: 4
				// }
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true,
						fontSize: 13,
						fontFamily: 'Poppins',
						fontColor: '#404447',
						fontStyle: '500'
					}
				}],
				xAxes: [{
					ticks: {
						beginAtZero: true,
						fontSize: 13,
						fontFamily: 'Poppins',
						fontColor: '#b1b5b8',
						fontStyle: '500'
					}
				}]
			}
		}
	});
</script>
//= includes/footer.html