// popup
.popup-holder {
	position:relative;
	overflow:hidden;
	height:0;
}
.lightbox-demo {
	padding:5px;
	width:300px;
}
.lightbox-demo h2 {
	margin:0 0 10px;
}
.lightbox-demo p {
	margin:0;
}

*{background:#000;}