*{box-sizing:border-box;}

/* Hero page styles */

.product_holder{
	padding:20px;
	width:100vw;
	height:100vh;
	background:linear-gradient(71.5deg, rgba(233,233,233,1) 52.3%,rgba(130,244,211,1) 52.3%,rgba(130,244,211,1) 52.3%,rgba(130,244,211,1) 100%);
	display:flex;
	align-items:center;
	justify-content:center;
}
.product_block{
	margin:0 auto;
	width:100%;
	max-width:$max-width;
	position:relative;
	text-align:center;
	img{
		margin:0 0 30px 0;
		max-height:70vh;
		max-width:100%;
		@include media('>=desktop') {
			margin:0 -96px 0 0;
			width:auto;
		}
		@include media('<desktop', 'landscape') {
			margin:0 -65px 15px 0;
		}
	}
}
.cta_holder{
	z-index:1;
	text-align:left;
	@include media('>=desktop') {
		margin:0;
		position:absolute;
		top:0;
		left:0;
		margin:0 0 20px;
	}
	@include media('<desktop', 'landscape') {
		margin:0;
		position:absolute;
		top:0;
		left:0;
		margin:0 0 20px;
	}
}
.logo_product{
	margin:0 0 10px;
	@include media('>=desktop') {
		margin:0 0 29px;
	}
	img{
		width:180px;
		height:auto;
		@include media('>=desktop') {
			width:auto;
		}
	}
}
.btn_shop{
	margin:0 0 0 20px;
	padding:12px 24px 11px;
	background:$primary-color;
	font-size:14px;
	line-height:1.4;
	font-weight:bold;
	font-family:$custom-font-Poppins;
	color:$btn-color;
	position:relative;
	letter-spacing:1.1px;
	display:inline-block;
	box-shadow:0 0 4px $white;
	@include media('>=desktop') {
		margin:0 0 0 73px;
		font-size:25px;
		box-shadow:none;
	}
	&:before{
		content:'';
		position:absolute;
		bottom:-12px;
		left:-12px;
		width:100%;
		height:100%;
		border:solid $primary-color;
		border-width:2px;
		border-radius:3px;
		@include media('>=desktop') {
			z-index:-1;
		}
	}
	&:active{
		top:11px;
		right:11px;
		border-radius:3px;
		box-shadow:none;
	}
	&:active:before{
		bottom:-2px;
		left:-2px;
		box-shadow:0 0 4px $white;
		@include media('>=desktop') {
			box-shadow:none;
		}
	}
}
.description{
	font-size:10px;
	line-height:1.8;
	font-weight:normal;
	font-family:$custom-font-Poppins;
	color:#8f8f8f;
	max-width:362px;
	max-height:362px;
	letter-spacing:0.7px;
	text-align:left;
	word-wrap:break-word;
	@include media('>=desktop') {
		font-size:14px;
		position:absolute;
		bottom:41px;
		left:0;
		writing-mode:vertical-rl;
		transform:rotate(180deg);
	}
	@include media('>=1400px') {
		left:-103px;
	}
}

/* Stat page styles */

.stat_holder{
	padding:20px;
	width:100vw;
	height:100vh;
	// display:flex;
	// align-items:center;
	// justify-content:center;
}
.stat_container{
	// display:flex;
	margin:0 auto;
	max-width:374px;
	@include media('>=tablet') {
		display:flex;
		max-width:100%;
	}
}
.card_holder{
	margin:0 0 20px;
	padding:21px 24px;
	width:100%;
	border-radius:4px;
	background:$white;
	box-shadow:0 0 120px rgba(31,32,41,0.5);
	@include media('>=tablet') {
		margin:0 10px 0 0;
		width:283px;
		min-width:283px;
	}
	h2{
		margin:0 0 29px;
		font-size:16px;
		line-height:1.4;
		font-weight:bold;
		letter-spacing:1px;
		font-family:$custom-font-Poppins;
		color:$h2-color;
	}
	img{
		margin:0 0 35px;
		box-shadow:0 13px 30px rgba(72,117,174,0.25);
		border-radius:5px;
		width:100%;
	}
}
.info_list{
	margin:0;
	padding:26px 0 0;
	font-size:13px;
	line-height:1.4;
	font-family:$custom-font-Poppins;
	// display:flex;
	// flex-wrap:wrap;
	border-top:1px solid $border-color;
	overflow:hidden;
	dt{
		margin:12px 0 0;
		color:#b1b5b8;
		width:122px;
		float:left;
		&:first-child{
			margin:0;
		}
		&:first-child + dd{
			margin:0;
		}
	}
	dd{
		margin:12px 0 0;
		letter-spacing:-0.7px;
	}
}
.graph_block{
	padding:23px 24px;
	width:100%;
	border-radius:4px;
	background:$white;
	box-shadow:0 0 120px rgba(31,32,41,0.5);
	@include media('>=desktop') {
		margin:0 0 0 10px;
		width:100%;
		max-width:590px;
	}
}
.title_holder{
	margin:0 0 10px;
	display:flex;
	justify-content:space-between;
	align-items:baseline;
	h2{
		margin:0;
		font-size:16px;
		line-height:1.4;
		font-weight:bold;
		letter-spacing:1px;
		font-family:$custom-font-Poppins;
		color:$h2-color;
	}
	ul{
		margin:0;
		padding:0 5px 0 0;
		list-style:none;
		color:$h2-color;
		font-size:11px;
		line-height:1.4;
		font-weight:normal;
		font-family:$custom-font-Poppins;
		h2{
			font-size:13px;
		}
		li{
			margin:0 0 0 17px;
			padding:0 12px 0 0;
			position:relative;
			cursor:pointer;
			@include media('>=desktop') {
				margin:0 0 0 38px;
			}
			ul{
				position:absolute;
				top:100%;
				left:0;
				display:none;
				background:#fff;
				width:100%;
				padding:10px 7px;
				max-height:130px;
				overflow-y:scroll;
				@include media('>=desktop') {
					max-height:none;
					overflow-y:visible;
				}
			}
			li{
				margin:0 0 5px;
				padding:0;
				&:hover{
					font-weight:bold;
				}
			}
			li:after,
			li:before{content:none;}
		}
		li:hover{
			ul{
				display:block;
			}
		};
		li:after,
		li:before{
			content:"";
			top:6px;
			left:100%;
			border:solid transparent;
			height:0;
			width:0;
			position:absolute;
			pointer-events:none;
		}
		li:after{
			border-color:rgba(255,255,255,0);
			border-top-color:#fff;
			border-width:3px;
			margin-left:-3px;
		}
		li:before{
			border-color:rgba(125,132,137,0);
			border-top-color:#7d8489;
			border-width:7px;
			margin-left:-7px;
		}
	}
}
.date_holder{
	display:flex;
}
#myChart{
	width:100% !important;
	height:auto;
}